<li class="benefits__item col-md-6">
    <div class="benefits__card h-100 rounded-md d-flex flex-column">
        <div class="benefits__card-icon">
            <img src="@@icon" alt="Иконка">
        </div>
        <div class="benefits__card-title title-sm font-weight-bold">@@title</div>
        <div class="benefits__card-desc mb-auto">
            <p>@@desc</p>
            @@if(typeof desc2 !=='undefined') {
            <p>@@desc2</p>
            }
        </div>
        <a href="" class="benefits__card-btn btn btn-primary">@@btn</a>
    </div>
</li>