<a href="" class="cases__block w-100 d-flex flex-column rounded-sm overflow-hidden icon-arrow">
    <span class="cases__block-image d-block h-100">
        <img src="@img/cases/@@number.png" class="cover-image rounded-sm" alt="Фото проекта">
    </span>
    <span class="cases__block-info d-flex flex-column">
        <span class="cases__block-title title-sm font-weight-bold">Каркасный дом</span>
        <span class="cases__block-size font-weight-semibold mt-2">
            6х6 с мансардой
        </span>
        <span class="cases__block-footer mt-auto">
            <span class="cases__block-row d-flex">
                <span class="cases__block-row-name font-weight-semibold flex-shrink-0">Адрес</span>
                <span class="cases__block-row-value">Белгородская область, город Зарайск, ул. Косиора, 26</span>
            </span>
            <span class="cases__block-row d-flex">
                <span class="cases__block-row-name font-weight-semibold flex-shrink-0">Дата сдачи</span>
                <span class="cases__block-row-value">27.03.2025</span>
            </span>
        </span>
    </span>
</a>