<li class="directions__item">
    <a href="" class="directions__item-link">
        <span class="row align-items-end">
            <span class="col-lg-6">
                <span class="directions__item-title title">@@name</span>
            </span>
            <span class="col-lg-6">
                <span class="directions__item-image rounded-sm overflow-hidden d-block">
                    <img src="@img/directions/@@number.jpg" class="cover-image rounded-sm" alt="Фото дома">
                </span>
            </span>
        </span>
    </a>
</li>