<li class="news__item">
    <a href="" class="news__card row">
        <span class="col-xxl-4 col-md-5 col-sm-6">
            <span class="news__card-image">
                <img src="@@image" class="cover-image rounded-md" alt="Постер">
            </span>
        </span>
        <span class="col-xxl-8 col-md-7 col-sm-6">
            <span class="news__card-body d-flex flex-column align-items-start pl-xxl-5 pl-md-3">
                <span class="news__card-time color-accent">1 апреля 2025</span>
                <span class="news__card-name title-sm font-weight-bold">@@name</span>
                <span class="news__card-desc font-weight-semibold">@@desc</span>
            </span>
        </span>
    </a>
</li>