<li class="projects__item">
    <div class="projects__item-row d-flex flex-xl-row flex-column align-items-start">
        <a href="" class="projects__item-title title-sm font-weight-extrabold overflow-hidden" data-title="Проект Nº 070">
            <span>Проект Nº 070</span>
        </a>
        <div class="projects__item-body">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="projects__item-header d-flex align-items-center">
                        <a href="" class="projects__item-category category" data-title="Дом из бруса"><span>Дом из бруса</span></a>
                        <a href="" class="projects__item-compare icon-compare"></a>
                        <div class="projects__item-text ml-auto">80 м2</div>
                    </div>
                    <a href="@@image1" data-fancybox="project-@@index" class="projects__item-image d-block rounded-sm overflow-hidden">
                        <img src="@@image1" class="cover-image rounded-sm" alt="Фото дома">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="projects__item-header d-flex align-items-center">
                        <div class=" projects__item-text">12 х 8 м + открытая терраса 2.5 х 1.2 м</div>
                    </div>
                    <a href="@@image2" data-fancybox="project-@@index" class="projects__item-image d-block rounded-sm overflow-hidden">
                        <img src="@@image2" class="cover-image rounded-sm" alt="Фото дома">
                    </a>
                </div>
                <div class="col-lg-4 ">
                    <div class="projects__item-header d-flex align-items-center">
                        <div class=" projects__item-price">от 1 629 193 ₽</div>
                        <a href="" class="projects__item-link icon-right ml-auto overflow-hidden">
                            <span class="icon-right"></span>
                        </a>
                    </div>
                    <a href="@@image3" data-fancybox="project-@@index" class="projects__item-image d-block rounded-sm overflow-hidden">
                        <img src="@@image3" class="cover-image rounded-sm" alt="Фото дома">
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>